* {
  /* border: 1px solid rgba(0,0,0,0.3); */
  box-sizing: border-box;  
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;  
}

.navigation {
  background-color: #373737;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.navigation ul {
  padding: 0 10%;
}

.navigation li {
  padding: 15px 0px;
  font-size: 1.2em;
  text-align: center;
  letter-spacing: 0.1em;
  display: inline-block;
  float: left;
  width: 25%;
  height: 60px;
}

.navigation li:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}

.jumbotron {
  background-image: url("../img/bk-jumbotron.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  height: 750px;
}

.banner {
  background-color: rgba(255,255,255,0.5);
  font-size: 1.5em;
  color: #373737;
  padding: 2%;
  position: absolute;  
  top: 300px;
  width: 100%;
  line-height: 1.5em;
}

.banner h1 {
  margin-bottom: 0.3em;
}

.content {
  background-color: #EEEAE5;
}

.logo {
  padding: 0;
  position: relative;  
  top: 650px;
  width: 550px;
  float: right;  
}

.logo span {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  font-family: "Roboto", sans-serif;
  font-size: 3em;
  font-weight: 300;
  text-transform: uppercase;
}

.logo img {
  display: inline-block;
  vertical-align: middle;
}

.content-section {
  height: 690px;
  width: 100%;
}

/* IMPORTANTE */
.services {  
  /* con estas 3 propiedades los elementos contenidos se alinean horizontalmente como en un flow panel */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* expande el div contenedor en caso de que el contenido se expanda hacia abajo */
  min-height: inherit;
  height: auto;
}

.service {
  /* border: 1px solid black; */
  font-size: 1.5em;
  padding: 60px 10px;
  text-align: center;
  display: inline-block;
  float: left;
  width: 420px;
  margin: 10px;
}

.service h2 {
  margin: 0 0 50px 0;
}

.wash {
  background-image: url("../img/wash.jpg");
}

.wax {
  background-image: url("../img/wax.jpg");
}

.treat {
  background-image: url("../img/treat.jpg");
}

.srv-img {  
  background-size: cover;
  border-radius: 100%;
  border: 5px solid #B94B51;
  width: 200px;
  height: 200px;
  margin: 0 auto 30px auto;
}

.body-products {
  background-image: url("../img/bk-products.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  padding-top: 150px;
}

.body-products h2 {
  margin: 0 0 40px 0;
}

.body-products p {
  width: 60%;
  margin: 0 20%;
}

.button {
  color: #fff;
  background-color: #B94B51;
  border-radius: 5px;
  text-align: center;
  width: 240px;
  height: 70px;
  padding: 18px;
  margin: 100px auto;
}

#map {
  width: 500px;
  height: 500px;
  margin: 80px 80px;
  float: right;
  pointer-events: none;
}

.footer {
  color: #fff;
  background-color: #373737; 
  padding: 0;
  height: 200px; 
}

div.social {
  width: 300;
  height: 50%;
  float: right;
  padding: 50px;
}

div.social p {
  font-size: 1.5em;  
}

div.social ul li {
  display: inline-block;
  margin: 10px 10px 0 0;
}